.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
}

.wd-kanbas-navigation li {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

.kanbas-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80px;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    list-style: none;
}
